<div class="container align-items-center" style="background-color: white;  border-radius: 10px; max-width: 800px;">
  <div class="mb-4 text-left w-100">
    <h2>User History</h2>
  </div>

  <div class="d-flex mb-4 text-left w-100">
    <div class="flex-grow-1">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" #startDate>
          <input matEndDate placeholder="End date" #endDate>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <!-- Button -->
    <div class="ms-4">
      <button class="btn btn-success" >
        <ng-icon name="bootstrapArrowCounterclockwise" class="icon-large">
        </ng-icon>
        View History</button>
    </div>
  </div>

  <ul class="list-group">
    <!-- List Header -->
    <li class="list-group-item d-flex justify-content-between" style="background-color: whitesmoke">
      <span class="fs-6">Date Created</span>
      <span class="fs-6">Analysis</span>
      <span class="fs-6">Actions</span>
    </li>
  </ul>
</div>
