<!--use routerLink---->
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="nav-bg col-auto min-vh-100">
      <div class="nav-bg p-2">
        <ul class="nav nav-pills flex-column mt-4">
          <li class="nav-item">
            <a class="nav-link text-white" style="cursor: pointer" (click)="onDashboard()">
              <ng-icon name="bootstrapColumnsGap" class="me-3 icon-large"></ng-icon><span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-white">
              <ng-icon name="bootstrapPersonFill" class="me-3 icon-large"></ng-icon><span>Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-white">
              <ng-icon name="bootstrapFolder2Open" class="me-3 icon-large"></ng-icon><span>History</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-white">
              <ng-icon name="bootstrapFileEarmarkText" class="me-3 icon-large"></ng-icon><span>Docs</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-white">
              <ng-icon name="bootstrapGear" class="me-3 icon-large"></ng-icon><span>Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
