<div class="row">
  <div class="col-5">
    <div class="container">
      <h3 class="fs-5 fw-normal">Metrics Breakdown</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <div class="container">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0" *ngFor="let metric of metrics">
            <div class="row align-items-center my-0">
              <div class="col-5 fs-6">
                <span class="fs-6">{{ metric.key | titlecase }}</span>
              </div>
              <div class="col-5 ms-0 fs-6">
                <div class="progress">
                  <div class="progress-bar"
                       role="progressbar"
                       [ngStyle]="{ 'width': (metric.value * 100) + '%', 'background-color': '#7B87D9' }"
                       aria-valuenow="metric.value"
                       aria-valuemin="0"
                       aria-valuemax="1.0"></div>
                </div>
              </div>
              <div class="col-2 ms-0 fs-6">
                <small>{{ metric.value }}</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h3 class="mt-4 fs-5 fw-normal">Languages</h3>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0" *ngFor="let language of languages">
            <div class="row align-items-center my-0">
              <div class="col-5 fs-6">
                <span class="fs-6">{{ language.key | titlecase }}</span>
              </div>
              <div class="col-5 ms-0 fs-6">
                <div class="progress">
                  <div class="progress-bar custom-progress-bar"
                       role="progressbar"
                       [ngStyle]="{ 'width': (language.value) + '%', 'background-color': '#7B87D9' }"
                       aria-valuenow="language.value"
                       aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-2 ms-0 fs-6">
                <small>{{ language.value }}%</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h3 class="mt-4 fs-5 fw-normal">Rank</h3>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0">
            <div class="row align-items-center my-0">
              <div class="col-5 fs-6">
                <span class="fs-6">Rank</span>
              </div>
              <div class="col-5 ms-0 fs-6">
                <div class="progress">
                  <div class="progress-bar custom-progress-bar"
                       role="progressbar"
                       [ngStyle]="{ 'width': (analysisReport.rank * 100) + '%', 'background-color': '#7B87D9' }"
                       aria-valuenow="rank"
                       aria-valuemin="0"
                       aria-valuemax="1.0"></div>
                </div>
              </div>
              <div class="col-2 ms-0 fs-6">
                <small>{{ analysisReport.rank }}</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="container">
      <div class="row justify-content-start">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-5 bg-white rounded d-flex align-items-center mb-4 mx-2 dashboard-item position-relative">
              <a class="position-absolute top-0 end-0 bottom-0 start-0 d-block clickable-overlay"
                 [routerLink]="['./issues']"
                 [queryParams]="{type: 'BUG'}">
              </a>
              <div
                class="icon-container bg-success rounded-circle d-flex align-items-center justify-content-center me-3">
                <ng-icon name="bootstrapBug" class="icon icon-large text-white"></ng-icon>
              </div>
              <div class="text-start">
                <h3 class="fw-normal mb-0">Bugs</h3>
                <h4 class="fw-normal">{{ bugs.length }}</h4>
              </div>
            </div>
            <div class="col-5 bg-white rounded d-flex align-items-center mb-4 mx-2 dashboard-item position-relative">
              <a class="position-absolute top-0 end-0 bottom-0 start-0 d-block clickable-overlay"
                 [routerLink]="['./issues']"
                 [queryParams]="{type: 'CODE_SMELL'}">
              </a>
              <div
                class="icon-container bg-success rounded-circle d-flex align-items-center justify-content-center me-3">
                <ng-icon name="bootstrapPersonFillGear" class="icon icon-large text-white"></ng-icon>
              </div>
              <div class="text-start">
                <h3 class="fw-normal mb-0">Code Smell</h3>
                <h4 class="fw-normal">{{ codeSmells.length }}</h4>
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-5 bg-white rounded d-flex align-items-center mb-4 mx-2 dashboard-item position-relative">
              <a class="position-absolute top-0 end-0 bottom-0 start-0 d-block clickable-overlay"
                 [routerLink]="['./issues']"
                 [queryParams]="{type: 'VULNERABILITY'}">
              </a>
              <div
                class="icon-container bg-success rounded-circle d-flex align-items-center justify-content-center me-3">
                <ng-icon name="bootstrapShieldFillCheck" class="icon icon-large text-white"></ng-icon>
              </div>
              <div class="text-start">
                <h3 class="fw-normal mb-0">Vulnerabilities</h3>
                <h4 class="fw-normal">{{ vulnerabilities.length }}</h4>
              </div>
            </div>
            <div class="col-5 bg-white rounded d-flex align-items-center mb-4 mx-2 dashboard-item position-relative">
              <a class="position-absolute top-0 end-0 bottom-0 start-0 d-block clickable-overlay"
                 [routerLink]="['./issues']"
                 [queryParams]="{type: 'SECURITY_HOTSPOTS'}">
              </a>
              <div
                class="icon-container bg-success rounded-circle d-flex align-items-center justify-content-center me-3">
                <ng-icon name="bootstrapShieldFillExclamation" class="icon icon-large text-white"></ng-icon>
              </div>
              <div class="text-start">
                <h3 class="fw-normal mb-0">Security Hotspots</h3>
                <h4 class="fw-normal">{{ hotspots.length }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
