.preference {
  margin-left: 25px;
}

#qualityAttribute {
  width: 240px;
}

#weight{
  margin-left: 65px;
  width: 90px;
}

.text-weight {
  margin-left: 72px;
}

.btn-add-preference {
  margin-left: 55px;
  margin-bottom: 5px;
  width: 50px;
}

.btn-remove-preference {
  margin-bottom: 5px;
  width: 50px;
}

