<div class="container">
  <div class="row">
    <h4 class="text-center my-2 mb-2 fs-5 fw-light">Preferences</h4>
    <div class="col-md-4">
      <label class="form-label required">Preference</label>
    </div>

    <div class="col-md-2 text-center">
      <label class="form-label text-weight">Weight</label>
    </div>
  </div>

  <div *ngFor="let preference of preferences; let i = index;">
    <div class="row">
      <div class="col-md-5">
        <select class="form-control preference" [(ngModel)]="preference.selectedAttribute" id="qualityAttribute">
          <option *ngFor="let qualityAttribute of qualityAttributes" [ngValue]="qualityAttribute.value">
            {{ qualityAttribute.viewValue | titlecase }}
          </option>
        </select>
      </div>

      <div class="col-md-1 d-flex flex-column align-items-center">
        <input type="text" class="form-control preference text-center" [(ngModel)]="preference.weight" id="weight">
      </div>

      <div class="col-md-4 d-flex align-items-end">
        <button
          (click)="onAddPreference()"
          class="btn btn-success btn-add-preference"
          *ngIf="preferences.length < 5">
          <ng-icon name="bootstrapPlus" class="me-3 icon-large"></ng-icon>
        </button>
        <button
          (click)="onRemovePreference(i)"
          class="btn btn-danger btn-remove-preference"
          *ngIf="preferences.length > 1"
          [ngStyle]="{'margin-left': preferences.length === 5 ? '55px' : '10px'}">
          <ng-icon name="bootstrapTrash" class="me-3 icon-large"></ng-icon>
        </button>
      </div>
    </div>
  </div>
</div>
