<div class="row">
  <div class="col-md-2 offset-sm-1">
    <h4 class="text-center my-2 mb-2  fs-5 fw-light">Project URLs</h4>
    <form action="">
      <div class="form-group d-flex align-items-center">
        <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
        <input
          type="url"
          class="form-control my-2 project-url-input"
          ngModel
          name="url1"
          placeholder="Enter GitHub project url">
      </div>

      <div class="form-group d-flex align-items-center">
        <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
        <input
          type="url"
          class="form-control my-2 project-url-input"
          ngModel
          name="url2"
          placeholder="Enter GitHub project url">
      </div>

      <div class="form-group d-flex align-items-center">
        <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
        <input
          type="url"
          class="form-control my-2 project-url-input"
          ngModel
          name="url3"
          placeholder="Enter GitHub project url">
      </div>
    </form>
  </div>
</div>

