<div *ngIf="analysisResponse">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="text-center">Compliant</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let report of analysisResponse.reports[0]">
            <div class="row align-items-center">
              <div class="col-4 d-flex align-items-center">
                <a [href]="report.projectUrl.href" target="_blank" class="repo-link">
                  <ng-icon name="bootstrapGithub" class="icon icon-large me-2"></ng-icon>
                  <span>GitHub Repository</span>
                </a>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <a [routerLink]="['/dashboard/analysis', getAnalysisId(), 'reports', report.reportId]"
                   class="repo-link">Report</a>
              </div>
              <div class="col-4 d-flex justify-content-end">
                <div class="progress-bar d-flex justify-content-center align-items-center position-relative"
                     [style.--rank]="report.rank + '%'" [style.--color]="'#198754'">
                  <div class="progress-text">{{ report.rank }}%</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Assuming Non-Compliant would be similar to Compliant -->
      <div class="col-6">
        <h3 class="text-center">Non-Compliant</h3>
        <ul class="list-group">
          <li class="list-group-item clearfix" *ngFor="let report of analysisResponse.reports[0]">
            <div class="row align-items-center">
              <div class="col-4 d-flex align-items-center">
                <a [href]="report.projectUrl.href" target="_blank" class="repo-link">
                  <ng-icon name="bootstrapGithub" class="icon icon-large me-2"></ng-icon>
                  <span>GitHub Repository</span>
                </a>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <a [routerLink]="['/dashboard/analysis', getAnalysisId(), 'reports', report.reportId]"
                   class="repo-link">Report</a>
              </div>
              <div class="col-4 d-flex justify-content-end">
                <div class="progress-bar d-flex justify-content-center align-items-center position-relative"
                     [style.--rank]="report.rank + '%'" [style.--color]="'#198754'">
                  <div class="progress-text">{{ report.rank }}%</div>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>

    <div class="row mt-4">
      <div class="col d-flex justify-content-center">
        <div class="tooltip-container">
          <button class="btn btn-success me-2" (click)="onNewAnalysis()">+ New Analysis</button>
          <div class="tooltip-text">Start a new analysis</div>
        </div>
        <div class="tooltip-container">
          <button class="btn btn-primary" (click)="onUpdateResults()">Update Results</button>
          <div class="tooltip-text">Update your constraints and preferences</div>
        </div>
      </div>
    </div>
  </div>
</div>
