.custom-card {
  min-height: 486px;
}

.fixed-height {
  min-height: 400px;
}

.left-panel-bg {
  background-color: #e9ecef !important;
}

.invisible {
  visibility: hidden;
}

.custom-mt {
  margin-top: 80px;
}

.user-icon {
  font-size: 130px;
  line-height: 0;
}
