<div class="container-fluid">
  <div>
    <div class="row container d-flex justify-content-start py-5 ps-5">
      <div class="col-md-3 p-0 m-0 ">
        <div class="card shadow-sm border-0">
          <div class="col-md-12 py-4 left-panel-bg">
            <div class="text-center left-panel-bg fixed-height p-4">
              <div class="mb-4">
                <ng-icon name="bootstrapPersonCircle" class="me-2 icon-large user-icon" ></ng-icon>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-start">
                <h3 class="fw-bold m-0 p-0">{{profile.username}}</h3>
                <p class="m-0 p-0 mb-2 text-start" *ngIf="profile.bio">{{profile.bio}}</p>
                <div class="d-flex align-items-center mb-2" *ngIf="profile.location">
                  <ng-icon name="bootstrapGeoAltFill" class="me-2 icon-large"></ng-icon>
                  <p class="m-0 p-0">{{profile.location}}</p>
                </div>
                <div class="d-flex align-items-center mb-2" *ngIf="profile.company">
                  <ng-icon name="bootstrapBuilding" class="me-2 icon-large"></ng-icon>
                  <p class="m-0 p-0">{{profile.company}}</p>
                </div>
              </div>
            </div>
            <button [class.invisible]="isEditMode" class="btn btn-primary mx-auto d-block" (click)="toggleEditMode()">Edit</button>
          </div>
        </div>
      </div>
      <div *ngIf="isEditMode; else noEdit" class="col-md-7 p-0 m-0">
        <div class="card custom-card shadow-sm border-0 p-4 rounded-0" >
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <h3>First Name</h3>
                  <input
                    class="form-control mb-2 custom-placeholder custom-focus"
                    placeholder="First Name"
                    [(ngModel)]="tempUserProfile.firstname">
                </div>
                <div class="col-sm-6">
                  <h3>Last Name</h3>
                  <input
                    class="form-control mb-2 custom-placeholder custom-focus"
                    placeholder="Last Name"
                    [(ngModel)]="tempUserProfile.lastname">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h3>Location</h3>
                  <input
                    class="form-control mb-2 custom-placeholder custom-focus"
                    placeholder="Location"
                    [(ngModel)]="tempUserProfile.location">
                </div>
                <div class="col-sm-6">
                  <h3>Company</h3>
                  <input
                    class="form-control mb-2 custom-placeholder custom-focus"
                    placeholder="Company"
                    [(ngModel)]="tempUserProfile.company">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h3>Bio</h3>
                  <textarea [(ngModel)]="tempUserProfile.bio" class="form-control mb-2 custom-placeholder custom-focus" rows="3" placeholder="Bio"></textarea>
                </div>
                <div class="col-sm-6">
                  <h3>Username</h3>
                  <input
                    class="form-control mb-2 custom-placeholder custom-focus"
                    placeholder="Username"
                    [(ngModel)]="tempUserProfile.username">
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success custom-mt" (click)="saveChanges()">Save</button>
          </div>
        </div>
      </div>
      <ng-template #noEdit>
        <div class="col-md-5 p-0 m-0"></div>
      </ng-template>
    </div>
  </div>
</div>
