<div class="container">
  <div class="row">
    <div class="col-12 text-start">
      <h4 class="fs-5 fw-normal" style="margin-bottom: 40px">Project URLs</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled">
        <li *ngFor="let url of projectUrls; let i = index" class="row align-items-center mb-2">
          <div class="col-1">
            <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
          </div>
          <div class="col-8">
            <input
              type="url"
              autocomplete="off"
              class="form-control custom-focus custom-placeholder"
              [name]="'url' + i"
              placeholder="Enter GitHub repository url"
              [(ngModel)]="projectUrls[i]" >
          </div>
          <div class="col-3 d-flex justify-content-start">
            <div class="d-flex">
              <button class="btn btn-success flex-grow-1 me-2"
                      (click)="onAddUrl()"
                      *ngIf="projectUrls.length < 5; else maxLength">
                <ng-icon
                  name="bootstrapPlus"
                  class="icon-large">
                </ng-icon>
              </button>
              <ng-template #maxLength>
                <button (click)="onRemoveUrl(i)" class="btn btn-danger flex-grow-1 me-2">
                  <ng-icon name="bootstrapTrash" class="icon-large"></ng-icon>
                </button>
              </ng-template>
              <button (click)="onRemoveUrl(i)" class="btn btn-danger flex-grow-1 me-2"
                      *ngIf="projectUrls.length > 1 && projectUrls.length < 5">
                <ng-icon name="bootstrapTrash" class="icon-large"></ng-icon>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
