<div class="container">
  <div class="row">
    <div class="col-12 text-start">
      <h4 class="fs-5 fw-normal">Project URLs</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled">
        <li class="row align-items-center">
          <div class="col-1">
            <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
          </div>
          <div class="col-10">
            <input
              type="url"
              autocomplete="off"
              class="form-control my-2 custom-focus custom-placeholder"
              name="url1"
              placeholder="Enter GitHub repository url"
              [(ngModel)]="projectUrls[0]" >
          </div>
        </li>

        <li class="row align-items-center">
          <div class="col-1">
            <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
          </div>
          <div class="col-10">
            <input
              type="url"
              class="form-control my-2 custom-focus custom-placeholder"
              name="url2"
              placeholder="Enter GitHub repository url"
              [(ngModel)]="projectUrls[1]" >
          </div>
        </li>

        <li class="row align-items-center">
          <div class="col-1">
            <ng-icon name="bootstrapGithub" class="me-3 icon-large"></ng-icon>
          </div>
          <div class="col-10">
            <input
              type="url"
              class="form-control my-2 custom-focus custom-placeholder"
              name="url3"
              placeholder="Enter GitHub repository url"
              [(ngModel)]="projectUrls[2]" >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
